@font-face {
    font-family: font1;
    src: url("font/Vazirmatn-Bold.woff2") format(woff2);
}
@font-face {
    font-family: font2;
    src: url("font/Vazirmatn-ExtraLight.woff2") format(woff2);
}
@font-face {
    font-family: font3;
    src: url("font/Vazirmatn-Light.woff2") format(woff2);
}
body {
    margin: 0;
    background-color: rgb(250, 250, 250);
}
header {
    background-color: rgb(253, 253, 253);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 18px;
    box-sizing: border-box;
    z-index: 1000;
}
h1, h2, h3 {
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
.header-div {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
}
.header-div-logo {
    width: 52px;
    height: 52px
}
.header-pcmenu {
    display: none;
}
.header-menu {
    background: none;
    border: none;
    width: 30px;
    color: #b3b3b3;
}
.header-none {
    background: none;
    border: none;
    width: 30px;
    color: rgb(253, 253, 253);
    display: none;
}
.menu {
    position: fixed;
    top: -140px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: #f3f3f3;
    z-index: 999;
    padding: 30px 25px 18px;
    direction: rtl;
    display: flex;
    flex-direction: column;
}
.menu-a {
    font-family: font1;
    color: #707070;
    font-size: 18px;
    padding: 0 0 15px;
    direction: rtl;
    gap: 8px;
    display: flex;
}
.menu-a-log {
    background: #e90000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 35px;
    font-family: 'font1';
    font-size: 16px;
    border-radius: 6px;
    margin-top: 15px;
}
.headinfo {
    position: relative;
    margin-top: 90px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headinfo-img {
    width: 100%;
    height: 100%;
    filter: blur(2px);
}
.headinfo-span {
    position: absolute;
    color: white;
    font-family: 'Inter';
    font-size: 40px;
}

.stories {
    display: flex;
    flex-direction: row;
    direction: rtl;
    padding: 16px 12px 16px;
    gap: 16px;
    overflow-y: auto;
}
.stories-mystory, .stories-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-family: 'Inter';
    font-size: 12px;
}
.stories-m-img, .stories-img {
    width: 78px;
    height: 78px;
    border-radius: 50%;
}
.stories-m-img {
    border: 2px solid rgb(250, 250, 250);
    padding: 5px;
}
.stories-m-img-add {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0085f7;
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 56px;
    right: 5px;
    border-radius: 50%;
}
.stories-img {
    border: 3px solid red;
    padding: 4px;
}
.story-container {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0);
    z-index: 1000;
    color: white;
}
.story-header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.story-header-back {
    width: 35px;
    height: 30px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}
.story-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}
.story-strip {
    display: flex;
    height: 4px;
    margin: 10px;
}
.story-strip div {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 2px;
    border-radius: 15px;
}
.story-strip .active {
    background-color: white;
    border-radius: 15px;
}
.story-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 80px);
    position: relative;
}
.story-image img {
    max-width: 100%;
    max-height: 90%;
}
.story-click {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}
.left-click {
    left: 0;
}
.right-click { 
    right: 0;
}

.explorebtn {
    background: linear-gradient(90deg,#df0000,#b30000);
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    font-size: 20px;
    gap: 6px;
    padding: 11px 50px;
    border-radius: 12px;
    color: white;
    font-family: "font3";
    box-shadow: 0 1px 20px 1px rgb(250, 98, 98)
}
.explorebtn-img {
    width: 28px;
}

.ravatools {
    margin: 34px 20px 10px;
    background: #f8f8f8;
    border-radius: 14px;
    border: 1px solid #ebebeb;
    padding: 8px 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.ravatools-any {
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding: 14px 16px;
    border: 1px solid #b9b9b9;
    cursor: pointer;
}
.ravatools-any-img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
.ravatools-any-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    direction: rtl;
    font-family: font1;
}
.top {
    margin: 55px 20px 35px;
    border: 1px solid #979797;
    border-radius: 14px;
    font-family: 'font3';
    position: relative;
    direction: rtl;
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.top-h2 {
    position: absolute; 
    top: -22px; 
    right: 30px; 
    background: rgb(250, 250, 250);
    padding: 0 12px;
}
.top-post {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
    box-sizing: border-box;
    font-size: 14px;
}
.top-post-i {
    display: flex; 
    flex-direction: row; 
    direction: rtl; 
    justify-content: space-between; 
    padding: 5px 10px;
    margin-bottom: 8px; 
    border-bottom: 1px solid #d1d1d1;
}
.top-post-info {
    display: flex;
    flex-direction: row;
    direction: rtl;
    align-items: center;
    font-family: font3;
    font-size: 13px;
    color: gray;
}
.top-post-info-img {
    width: 24px;
    height: 24px;
    border-radius: 6px
}
.top-post-info-h3 {
    font-family: font1;
    font-size: 14px;
    margin: 0 5px 0 10px;
    color: black;
}
.top-post-stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e6bb00;
    min-width: 30px;
    font-size: 20px;
}
.top-post-stars span {
    color: black; 
    font-size: 11px;
    margin-top: -8px;
}
.top-post-content-img {
    width: 100%;
    border-radius: 6px;
}
.top-post-content {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.top-post-type {
    margin: -2px 10px 0;
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.top-post-type-t {
    background: #e3e3e3;
    padding: 5px 8px;
    border-radius: 6px;
    font-family: font3;
    font-size: 12px;
    color: #666666;
}
.top-post-btns {
    margin: 12px 10px 8px;
    display: flex;
    gap: 6px;
}
.top-post-btns-download {
    font-family: font3;
    padding: 5px 15px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}
.top-post-btns-more {
    font-family: font1;
    padding: 5px 15px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    background: #00a2ff;
    color: white;
}

.newblogs {
    margin: 0 20px;
    font-family: 'font3';
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
}
.blogs {
    margin: 0 10px;
    font-family: 'font3';
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
}
.newblogs-div {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #b1b1b1;
    margin: 2px 10px 50px;
    padding: 0 6px;
    gap: 12px;
}
.blogs-div {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    margin: 78px 0 40px;
    padding: 0 6px;
    gap: 12px;
}
.newblogs-div-blog {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 6px #e5e5e5;
    border-radius: 4px;
    padding: 8px 10px 12px;
    box-sizing: border-box;
}
.newblogs-div-blog-img {
    width: 100%;
    border-radius: 6px;
}
.newblogs-div-blog-info {
    direction: ltr;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: gray;
    margin-top: -4px;
    justify-content: space-between;
    direction: rtl;
}
.newblogs-div-blog-h1 {
    font-family: font1;
    font-size: 18px;
}
.newblogs-div-blog-p {
    margin-bottom: 15px;
}
.newblogs-div-blog-a {
    background: #0089ff;
    padding: 4px 10px;
    color: white;
    border-radius: 6px;
}
.newblogs-div-more {
    padding: 0px 2px;
    font-family: 'font1';
    font-size: 15px;
    border-radius: 6px;
    display: flex;
    color: #004cff;
}
footer {
    background: #29343c;
    direction: rtl;
    display: flex;
    align-items: center;
    padding: 25px 30px 20px;
    flex-direction: column;
    gap: 30px;
}

.footer-info, .fast-access {
    direction: rtl;
    display: flex;
    align-items: start;
    width: 100%;
    flex-direction: column;
}

.footer-info-div {
    direction: rtl; 
    display: flex; 
    flex-direction: row; 
    color: rgb(169, 169, 169); 
    width: 100%; 
    font-family: font2;
    font-size: 15px;
    height: 22px;
    gap: 7px;
    align-items: center;
}

/*kjfpdfjpioasdflk;asjdfpoajkf;lakjf;akjf;'kasdkl;f;jka;lfks;fakf;lsakfla;fkl;afkas;lfkal;fkask*/

.header2 {
    position: relative;
    margin-top: 90px;
    display: flex;
    align-items: center;
}
.header2-div {
    background-color: rgb(253, 253, 253);
    display: flex;
    width: 100%;
    direction: rtl;
    flex-direction: row;
    padding: 35px 22px;
    border-top: 1px solid #c3c3c3;
    gap: 16px;
    align-items: center;
}
.header2-div-div {
    display: flex;
    flex-direction: column;
    font-family: 'font1';
    font-size: 19px;
}

/*';dklfl;dskflsjf;skf;lsdfkdskf;sdlk'fdlosfiopweiwerlkewqrqwejrlqjl;rkqw;lrkq;lrkqw;lrkq;rkqw;l*/

.blogcontents {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 96px 10px 12px;
    padding: 20px 15px 12px;
}
.blogcontents-h1 {
    font-family: 'font1';
    font-size: 22px;
    direction: rtl;
    text-align: justify;
}
.blogcontents-info {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-family: 'font3';
    color: gray;
    justify-content: space-between;
    direction: rtl;
    padding: 10px 0 20px;
}
.blogcontents-img {
    width: 100%;
    /*height: 220px;
    object-fit: cover;*/
    border-radius: 6px;
}
.blogcontents-p {
    font-family: 'font3';
    font-size: 13px;
    direction: rtl;
    text-align: justify;
    text-align-last: right;
    line-height: 1.6;
    padding: 2px 0 12px;
}
.blogcontents-h2 {
    direction: rtl;
    font-family: 'font1';
    font-size: 16px;
    padding: 10px 0 0;
}
.blogcontents-link {
    background: #d900002b;
    border-top: 5px solid #d50000;
    border-radius: 6px;
    font-family: 'Inter';
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 0;
}
.blogcontents-link-btn {
    border: none;
    border-radius: 0 0 6px 6px;
    padding: 5px 0;
}



@media screen and (min-width: 800px) {
    .header-pcmenu {
        display: block;
    }
    .header-menu {
        display: none;
    }
    .header-none {
        display: block;
    }
}
@keyframes menu-move1 {
    from {
        top: -140px;
    }
    to {
        top: 87px;
    }
}
@keyframes menu-move2 {
    from {
        top: 87px;
    }
    to {
        top: -140px;
    }
}